/ds4
/ds4-server
/ds4_native
/ds4_server_test
/ds4_test
/ds4flash.gguf
/TODO.md
/gguf/
/kv/
/logs/*
!/logs/
!/logs/.gitkeep
!/logs/benchmarks/
/logs/benchmarks/*
!/logs/benchmarks/.gitkeep
*.o
*.dSYM/
/misc/
.*.swp
